<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/index.css" />
    <title>YAG-Todo</title>
  </head>

  <body>
    <div class="box1">
      <header>
        <div><p>Todo App</p></div>
      </header>
    </div>

    <div class="box2">
      <form action="/add_task" method="POST">
        <div class="form1">
          <input
            type="text"
            class="form1-input"
            id="taskfield"
            name="user_task"
            placeholder="Today I'd like to..."
          />
          <button type="submit" class="add-btn">Add</button>
        </div>
      </form>
    </div>

    <div class="box3">
      {% for task in all_db_tasks %}
      <div class="app-tasks">
        <span
          >{{task["task"]}}
          <a
            href="{{url_for('delete_task', id = task['id'])}}"
            class="delete-btn"
          >
            <img src="static/assets/trash-icon.svg" />
          </a>
          
        </span><hr/>

        {% endfor %}
      </div>
    </div>
  </body>
</html>
