<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/index.css" />
    <title>YAG-Todo</title>
  </head>

  <body>
    <div class="box1">
      <header>
        <div class="logo-title">
          <p>Yet Another Generic</p>
        </div>
        <p class="app-name">Todo App</p>
      </header>
    </div>

    <div class="box2">
      <form action="/add_task" method="POST">
        <div class="form1">
          <label for="taskfield" class="form1-label">Enter a task</label>
          <input
            type="text"
            class="form1-input"
            id="taskfield"
            name="user_task"
          />
          <button type="submit" class="submit-btn">Submit</button>
        </div>
      </form>
    </div>

    <div class="box3">
      <p class="box3-title">My Task List</p>
      <hr />
      <div class="box3-tasks">
        {% for task in all_db_tasks %}
        <div class="ui-tasks">
          <span>{{task["task"]}}</span>
        </div>
        <a href="{{url_for('delete_task', id = task['id'])}}" class="delete-btn"
          >Delete</a
        >
        {% endfor%}
      </div>
    </div>
  </body>
</html>
