* {
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #fff;
}

header p {
  color: #a15a45;
}
.box1 {
  background-color: #ffe4c9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  border-bottom: 2px solid #e2be99;
}

.box1 p {
  font-size: 2em;
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.form1 {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.form1-input {
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid #e2be99;
  width: 50vw;
  font-size: 1.3em;
  margin-bottom: 0.1em;
}

.add-btn {
  background-color: #ffe4c9;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid #e2be99;
  font-size: 1.5em;
  width: 3em;
  margin-left: 0.05em;
  color: #a17345;
}

.add-btn:hover {
  cursor: pointer;
  color: #d87d22;
}

.box3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  background-color: #ffe4c9;
  border: 2px solid #e2be99;
  border-radius: 5px;
  margin-top: 1em;
  margin-left: auto; /* Align box3 to the right */
  margin-right: auto; /* Align box3 to the right */
  width: 60vw; /* Set the width to 60% of the viewport width */
}

hr {
  color: #a17345;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 60vw;
}

span {
  font-size: 1.3em;
  color: #a17345;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.delete-btn img {
  filter: invert(42%) sepia(6%) saturate(3412%) hue-rotate(349deg)
    brightness(111%) contrast(89%);
}

.delete-btn:hover {
  cursor: pointer;
  filter: invert(29%) sepia(36%) saturate(3419%) hue-rotate(352deg)
    brightness(97%) contrast(96%);
}
